nav,
.ul {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 44px;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0px;
    background: #FFF;
    /*Preguntar si se puede utilizar
    box-shadow: 1px 1px 2px 2px rgba($color: #212121, $alpha: .19);*/
    z-index: 100000;
}

.logo {
    width: 24px;
    height: 24px;
    margin-left: $m-mobile;
}

.menu_bar {
    label {
        margin-right: 19px;
        width: 18px;
        height: 12px;
    }

    input {
        width: 20px;
        height: 20px;
        display: none;
    }
}
