html {
    scroll-behavior: smooth;
}

/*Titulo y texto del inicio-*/

.header-text {
    h1 {
        margin-left: $m-mobile;
        font-size: $title-mobile;
        font-family: $sans;
        color: #060A24;
        letter-spacing: 0;
        line-height: 52px;
        margin-top: 73px;
        width: 70%;

    }

    span {
        text-decoration-line: line-through;
    }

    p {
        margin-left: $m-mobile;
        font-size: $font-mobile;
        font-family: $mono;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
        margin-top: $m-mobile;
    }

    h1::after {
        content: ".";
        font-family: $sans;
        position: static;
        font-size: 36px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;

    }

}


/*Boton "Conoce más"-*/

.fondo-sing {
    background: $bg-sing;
    width: 288px;
    margin-left: 16px;
    margin-top: 36px;
    text-decoration: none;
    transition-property: background-image;
    transition-duration: 2s;

    .hipervinculo {
        text-decoration: none;

        .header-sing {
            font-family: $mono;
            font-size: $font-mobile;
            font-weight: 600;
            color: #060A24;
            letter-spacing: 0;
            text-align: center;
            line-height: 22px;
            padding-top: $m-mobile;
            padding-bottom: $m-mobile;
            transition-property: background-image, color;
            transition-duration: 1.5s;
        
        
        }    
    }   
}


/*Fondo "Episodios"*/

.poligono {
    position: absolute;
    width: 100%;
    min-height: 1205px;
    clip-path: polygon(0 5%, 100% 2%, 100% 96%, 0% 100%);
    background-image: $bg;
    margin-top: -74px;
    z-index: -1;

}


/*Titutlo "episodios*/

.container-title {
    z-index: 10;
    margin-top: 88px;
    font-size: $title-mobile;
    color: #ffffff;
    letter-spacing: 0;
    font-family: $sans;
    margin-left: $m-mobile;

}


/*Contenido embebido de la sección "episodios"*/

.container-iframe {
    margin-left: 3.4%;
    margin-right: 3.4%;
    padding-top: 21px;

}

.container-iframe2 {
    margin-left: 3.4%;
    margin-right: 3.4%;
}


/*Sección "Nosotros" texto e imagen del celular*/

.container-img {
    margin-top: 48px;

    img {
        width: 360px;
        height: 519px;
    }

    .container-info {
        margin-top: 27px;
        font-family: $mono;
        font-size: 14px;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
    }
}


/*Sección "Nosotros" texto e imagen del celular*/

.container-info {
    margin-left: $m-mobile;
    margin-right: $m-mobile;

    h3 {
        font-family: $sans;
        font-size: $title-mobile;
        color: #060A24;
        letter-spacing: 0;
        line-height: 42px;
    }

    p {
        font-family: $mono;
        font-size: $font-mobile;
        color: #060A24;
        letter-spacing: 0;
        line-height: 22px;
    }

}


/*Sección "Invitados" titulo y la geleria de imagenes*/

.invitados {
    margin-top: 54px;
    font-family: $sans;
    font-size: $title-mobile;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin-left: $m-mobile;
}

.galery-img {
    display: flex;
    flex-wrap: wrap;


    img {
        width: 290px;
        flex-grow: 1;
    }

}


/*Sección "Temas" titulo, texto e iconos*/

.temas {
    font-family: $sans;
    font-size: $title-mobile;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px;
    margin-top: 48px;
    margin-left: $m-mobile;
    margin-bottom: 37px;
}

.iconos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .iconos-container {
        img {
            margin: 13px 78px;
        }

        p {
            font-size: 24px;
            color: #060A24;
            letter-spacing: 0;
            text-align: center;
            font-family: $sans;
            margin-top: 13px;
            margin-bottom: 36px;

        }
    }
}


/*Fondo sección "Ultimas novedades"*/

.paralelogramo {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    width: 100%;
    height: 341px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    position: absolute;
    z-index: -1;
    margin-top: 6px;
}


/*Sección "Ultimas novedades" Boton y texto*/

.container-paralelogramo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $sans;
    margin-top: 70px;

    h1 {
        font-size: $title-mobile;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        font-family: $sans;
        margin-bottom: 36px;
        line-height: 42px;
        max-width: 200px;
    }

    a {
        text-decoration: none;
        width: 288px;

        div {
            background: #00F3BB;
            transition-property: background-image, color;
            transition-duration: 2s;


            p {
                font-size: 16px;
                color: #060A24;
                letter-spacing: 0;
                text-align: center;
                line-height: 22px;
                font-family: $mono;
                padding: 13px 0px;
                transition-property: background-image, color;
                transition-duration: 2s;
            }
        }
    }
}


/*Hover*/
.fondo-sing:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);

    .header-sing {
        color: #FFFFFF;
    }
}

.boton:hover .container-episodios {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);

    p {
        color: #FFFFFF;
    }
}