@media screen and (min-width: 1024px){
    nav {
        display: unset;

        .menu{
            display: flex;

            li{
                list-style: none;
                padding: 10px;
                margin-right: 28px;

                a{
                    text-decoration: none;
                }
            }
        }
    }

    .menu_bar{
        display: none;
    }

    
    
}