@media screen and (min-width: 1024px) {

    /*Header*/

    nav {
        display: unset;

        .menu {
            display: flex;
            margin-right: 62px;

            li {
                list-style: none;
                padding: 10px;
                margin-right: 28px;

                a {
                    text-decoration: none;
                    font-family: $mono;
                    font-size: $text-pc;
                    color: #060A24;
                    letter-spacing: 0;
                    line-height: 28px;
                }
            }
        }
    }

    .menu_bar {
        display: none;
    }

    .header{
        height: 80px;

        .logo{
            width: 36px;
            height: 36px;
        }
    }

    /*Main*/

.header-text {
    h1 {
        margin-left: $m-pc;
        font-size: 64px;
        margin-top: 200px;
        width: 70%;

    }

    p {
        margin-left: $m-pc;
        font-size: $text-pc;
        font-family: $mono;
        line-height: 24px;
        margin-top: none;
        max-width: 628px;
    }
}


}

