/* Fuentes */

$sans:'IBM Plex Sans', sans-serif;
$sans-semi: 'IBM Plex Sans', sans-serif; /*no tengo claro como seleccinoar el estilo semi-bolda*/
$mono:'IBM Plex Mono', monospace;
$mono-medium:'IBM Plex Mono', monospace; /*no tengo claro como seleccinoar el estilo medium*/

/*Colores*/

$bg-sing: #00F3BB;
$bg:linear-gradient(225deg, #0000FF 0%, #0000A3 100%);

/*margenes*/

$m-mobile: 16px;
$m-pc:200px;

/*tamaños fuentes*/

$title-mobile: 36px;
$font-mobile: 14px;

$title-pc: 48px;
$text-pc: 16px;