@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px; }

/*Fuentes*/
/* Fuentes */
/*Colores*/
/*margenes*/
/*tamaños fuentes*/
.header {
  display: flex;
  justify-content: space-between;
  height: 44px;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0px;
  background: #FFF;
  z-index: 100; }

.logo {
  width: 24px;
  height: 24px;
  margin-left: 16px; }

.menu_bar input {
  width: 20px;
  height: 20px;
  display: inline-block;
  width: 40px;
  height: 32px;
  opacity: 0;
  z-index: 2;
  position: absolute; }
.menu_bar input[type="checkbox"]:checked ~ ul {
  height: 224px;
  transition: height 0.5s ease-in-out; }
.menu_bar span {
  display: block;
  width: 25px;
  height: 2.5px;
  margin-bottom: 6.5px;
  position: relative;
  background: #000000;
  transform-origin: 3px 0px;
  transition: transform 0.5s ease, opacity 0.55s ease;
  margin-right: 19px; }
.menu_bar span:first-child {
  transform-origin: 0% 0%; }
.menu_bar span:nth-last-child(2) {
  transform-origin: 0% 100%; }
.menu_bar input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(2px, 1px);
  background: #060A24; }
.menu_bar input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }
.menu_bar input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1px, 0px); }

.menu {
  width: 100%;
  position: absolute;
  top: 45px;
  right: 0;
  overflow: hidden;
  list-style: none;
  background: #0000EC;
  height: 0px;
  transition: height 0.5s ease; }
  .menu a {
    font-family: "IBM Plex Mono", monospace;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 28px;
    padding-left: 16px;
    text-decoration: none;
    transition-property: all;
    transition-duration: .5s; }
  .menu li:first-child {
    padding-top: 16px; }
  .menu li {
    padding-bottom: 24px; }

html {
  scroll-behavior: smooth; }

/*Titulo y texto del inicio-*/
.header-text h1 {
  margin-left: 16px;
  font-size: 36px;
  font-family: "IBM Plex Sans", sans-serif;
  color: #060A24;
  letter-spacing: 0;
  line-height: 52px;
  margin-top: 73px;
  width: 70%; }
.header-text span {
  text-decoration-line: line-through; }
.header-text p {
  margin-left: 16px;
  font-size: 14px;
  font-family: "IBM Plex Mono", monospace;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 16px; }
.header-text h1::after {
  content: ".";
  font-family: "IBM Plex Sans", sans-serif;
  position: static;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px; }

/*Boton "Conoce más"-*/
.fondo-sing {
  background: #00F3BB;
  width: 288px;
  margin-left: 16px;
  margin-top: 36px;
  text-decoration: none;
  transition-property: background-image;
  transition-duration: 2s; }
  .fondo-sing .hipervinculo {
    text-decoration: none; }
    .fondo-sing .hipervinculo .header-sing {
      font-family: "IBM Plex Mono", monospace;
      font-size: 14px;
      font-weight: 600;
      color: #060A24;
      letter-spacing: 0;
      text-align: center;
      line-height: 22px;
      padding-top: 16px;
      padding-bottom: 16px;
      transition-property: background-image, color;
      transition-duration: 1.5s; }

/*Fondo "Episodios"*/
.poligono {
  position: absolute;
  width: 100%;
  min-height: 1205px;
  clip-path: polygon(0 5%, 100% 2%, 100% 96%, 0% 100%);
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  margin-top: -74px;
  z-index: -1; }

/*Titutlo "episodios*/
.container-title {
  z-index: 10;
  margin-top: 88px;
  font-size: 36px;
  color: #ffffff;
  letter-spacing: 0;
  font-family: "IBM Plex Sans", sans-serif;
  margin-left: 16px; }

/*Contenido embebido de la sección "episodios"*/
iframe {
  width: 100%;
  height: 232px;
  border: 0px;
  background-color: transparent;
  opacity: 1; }

.container-iframe {
  margin-left: 3.4%;
  margin-right: 3.4%;
  padding-top: 21px; }

.container-iframe2 {
  margin-left: 3.4%;
  margin-right: 3.4%; }

/*Sección "Nosotros" texto e imagen del celular*/
.container-img {
  margin-top: 48px; }
  .container-img img {
    width: 360px;
    height: 519px; }
  .container-img .container-info {
    margin-top: 27px;
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px; }

/*Sección "Nosotros" texto e imagen del celular*/
.container-info {
  margin-left: 16px;
  margin-right: 16px; }
  .container-info h3 {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 42px; }
  .container-info p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px; }

/*Sección "Invitados" titulo y la geleria de imagenes*/
.invitados {
  margin-top: 54px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin-left: 16px; }

.galery-img {
  display: flex;
  flex-wrap: wrap; }
  .galery-img img {
    width: 290px;
    flex-grow: 1; }

/*Sección "Temas" titulo, texto e iconos*/
.temas {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin-top: 48px;
  margin-left: 16px;
  margin-bottom: 37px; }

.iconos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .iconos .iconos-container img {
    margin: 13px 78px; }
  .iconos .iconos-container p {
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    margin-top: 13px;
    margin-bottom: 36px; }

/*Fondo sección "Ultimas novedades"*/
.paralelogramo {
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  height: 341px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  position: absolute;
  z-index: -1;
  margin-top: 6px; }

/*Sección "Ultimas novedades" Boton y texto*/
.container-paralelogramo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  margin-top: 70px; }
  .container-paralelogramo h1 {
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;
    margin-bottom: 36px;
    line-height: 42px;
    max-width: 200px; }
  .container-paralelogramo a {
    text-decoration: none;
    width: 288px; }
    .container-paralelogramo a div {
      background: #00F3BB;
      transition-property: background-image, color;
      transition-duration: 2s; }
      .container-paralelogramo a div p {
        font-size: 16px;
        color: #060A24;
        letter-spacing: 0;
        text-align: center;
        line-height: 22px;
        font-family: "IBM Plex Mono", monospace;
        padding: 13px 0px;
        transition-property: background-image, color;
        transition-duration: 2s; }

/*Hover*/
.fondo-sing:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }
  .fondo-sing:hover .header-sing {
    color: #FFFFFF; }

.boton:hover .container-episodios {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%); }
  .boton:hover .container-episodios p {
    color: #FFFFFF; }

.footer {
  margin-top: 91px; }
  .footer p {
    font-family: "IBM Plex Mono", monospace;
    font-size: 14px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 22px;
    width: 100%;
    text-align: center; }
  .footer .footer-social {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
    margin-bottom: 31px; }
    .footer .footer-social a {
      font-size: 16px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 28px; }

@media screen and (min-width: 750px) and (max-width: 1024px) {
  html {
    scroll-behavior: smooth; }

  /*Nav*/
  .logo {
    width: 28px;
    height: 28px;
    margin-left: 50px; }

  .menu_bar span {
    margin-right: 40px; }

  /*Titulo y texto del inicio-*/
  .header-text h1 {
    margin-left: 50px;
    margin-top: 100px; }
  .header-text p {
    margin-left: 50px;
    max-width: 85%; }

  /*Boton "Conoce más"-*/
  .fondo-sing {
    width: 226px;
    margin-left: 50px; }

  .container-title {
    margin-left: 50px; }

  /*Fondo "Episodios"*/
  .container-poligono .poligono {
    clip-path: polygon(0 7%, 100% 2%, 100% 94%, 0% 100%);
    min-height: 842.6px; }

  /*Contenido embebido*/
  .container-iframe {
    display: flex;
    margin: 20px 60px 0px 60px; }

  .container-iframe2 {
    display: flex;
    margin: 52px 60px 0px 60px; }

  .iframeup {
    width: 100%;
    height: 232px;
    margin-right: 72px; }

  .iframe {
    width: 100%;
    height: 232px; }

  /*Sección "Nosotros"*/
  .container-img {
    margin-left: 50px;
    margin-right: 50px; }
    .container-img img {
      margin-left: 21vw;
      width: 400px; }

  /*Sección "Inivitados y temas"*/
  .invitados {
    margin-left: 50px; }

  .temas {
    margin-left: 50px; } }
@media screen and (min-width: 1024px) {
  html {
    scroll-behavior: smooth; }

  /*Header*/
  .header {
    height: 80px; }
    .header .logo {
      width: 36px;
      height: 36px;
      margin-left: 100px; }

  /*barra de navecación*/
  .menu_bar {
    display: flex;
    margin-right: 80px; }
    .menu_bar span,
    .menu_bar input {
      display: none; }
    .menu_bar .menu {
      overflow: unset;
      position: static;
      display: flex;
      top: 0px;
      align-content: center;
      height: unset;
      background: #FFF; }
      .menu_bar .menu li {
        list-style: none;
        padding: 0px 10px;
        margin-right: 28px; }
        .menu_bar .menu li a {
          text-decoration: none;
          font-family: "IBM Plex Mono", monospace;
          font-size: 16px;
          color: #060A24;
          letter-spacing: 0;
          line-height: 28px; }

  /*Titulo y texto inicio*/
  .header-text h1 {
    margin-left: 200px;
    font-size: 64px;
    margin-top: 200px;
    width: 70%; }
  .header-text p {
    margin-left: 200px;
    font-size: 16px;
    font-family: "IBM Plex Mono", monospace;
    line-height: 24px;
    max-width: 628px; }
  .header-text h1::after {
    content: ".";
    color: #0000EC;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 64px;
    position: static; }

  /*Boton "Conocé más"*/
  .fondo-sing {
    width: 226px;
    margin-left: 200px; }
    .fondo-sing .hipervinculo {
      text-decoration: none; }
      .fondo-sing .hipervinculo .header-sing {
        font-family: "IBM Plex Mono", monospace;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        line-height: 24px; }

  /*Fondo del contenido embebido*/
  .container-poligono .poligono {
    clip-path: polygon(0 16%, 100% 2%, 100% 94%, 0% 100%);
    min-height: 1042.6px;
    margin: 0px;
    padding: 5px; }
  .container-poligono .container-title {
    padding-top: 191px;
    margin: 0px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 48px;
    margin-left: 200px; }

  /*Contenido embebido*/
  .container-iframe {
    display: flex;
    margin: 26px 100px 0px 100px; }

  .container-iframe2 {
    display: flex;
    margin: 72px 100px 0px 100px; }

  .iframeup {
    width: 100%;
    height: 232px;
    margin-right: 72px; }

  .iframe {
    width: 100%;
    height: 232px; }

  /*Sección "Nosotros"*/
  .container-img {
    display: flex;
    margin-left: 200px;
    margin-top: 64px; }
    .container-img img {
      width: 457.6px;
      height: 660px; }
    .container-img .container-info {
      margin: 0px;
      align-self: center;
      margin-left: 62.4px; }
      .container-img .container-info h3 {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 48px;
        margin-bottom: 24px; }
      .container-img .container-info p {
        max-width: 464px;
        font-family: "IBM Plex Mono", monospace;
        font-size: 16px;
        line-height: 24px;
        margin: 0px; }

  /*Galeria de imagenes*/
  .galery-img {
    display: flex;
    flex-wrap: wrap; }
    .galery-img img {
      width: 30%;
      min-width: 300px;
      flex-grow: 1; }

  /*Sección "Invitados"*/
  .invitados {
    margin-left: 200px;
    margin-bottom: 36px;
    margin-top: 64px; }

  /*Sección "Temas"*/
  .temas {
    margin-left: 200px;
    margin-bottom: 56px; }

  /*Sección "escuchá los episodios"*/
  .paralelogramo {
    clip-path: polygon(0 18%, 100% 0, 100% 100%, 0 100%);
    height: 518px; }

  .container-paralelogramo {
    margin-top: 213px; }
    .container-paralelogramo h1 {
      font-size: 48px;
      margin-bottom: 36px;
      line-height: 42px;
      max-width: unset; }
    .container-paralelogramo a {
      width: 345px; }
      .container-paralelogramo a div p {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        font-family: "IBM Plex Mono", monospace;
        padding: 17px 0px; }

  /*Footer*/
  .footer {
    margin-top: 187px;
    display: flex;
    justify-content: space-between;
    height: 95px;
    align-content: center;
    margin-left: 100px;
    margin-right: 100px; }
    .footer p {
      color: #060A24;
      line-height: 28px;
      width: unset;
      text-align: center;
      align-self: center; }
    .footer .footer-social {
      margin-top: unset;
      margin-bottom: unset;
      width: 234px;
      align-self: center; }
      .footer .footer-social a {
        font-size: 18px; }

  /*Hover*/
  .menu li a:hover {
    font-weight: 500;
    font-size: 16px;
    color: #00F3BB;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration-line: line-through; }

  .menu li a:active {
    text-decoration-line: line-through; } }

/*# sourceMappingURL=style.css.map */
